@model IEnumerable<eCaiet.DAL.Models.DB.Course>
@{
    ViewData["Title"] = "Cursuri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        @foreach (var course in Model)
        {
            <div class="col-md-4" style="max-width: 270px;">
                <div class="mt-element-list">
                    <div class="mt-list-head list-default font-white bg-green-seagreen">
                        <div class="list-head-title-container">
                            <h3 class="list-title">@course.Name</h3>
                            <div class="list-date">@course.LastUpdateDate.ToString("g")</div>
                        </div>
                    </div>
                    <div class="bg-grey-cararra bg-font-grey-cararra mt-list-container list-default ext-1 group">
                        <div class="mt-list-title uppercase" style="min-height: 150px">
                            @course.Description
                        </div>
                        <div class="mt-list-item" style="margin: 5px">
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="/Course/CoursePage?course=@course.Guid">
                                    <i class="icon-eye"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    X<!--<i class="icon-pencil"></i>-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>